<form class="dnd5e item-sheet {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>

    <ol class="item-details">
        <li>
            <label>Quantity</label>
            <input type="text" name="system.quantity.value" value="{{system.quantity.value}}" data-dtype="{{system.quantity.type}}"/>
        </li>
        <li>
            <label>Weight</label>
            <input type="text" name="system.weight.value" value="{{system.weight.value}}" data-dtype="{{system.weight.type}}"/>
        </li>
        <li>
            <label>Price</label>
            <input type="text" name="system.price.value" value="{{system.price.value}}" data-dtype="{{system.price.type}}"/>
        </li>
    </ol>

    <div class="tab" data-group="primary" data-tab="description">
        {{editor system.description.value target="system.description.value" button=true}}
    </div>
</form>
