.section--abilities {
  .grid-4col {
    grid-template-columns: 28px auto 38px 38px;
    grid-gap: 4px;
  }

  .list-item-header {
    font-size: $font-xxs;
  }

  ul,
  li {
    margin: 0;
    padding: 0;
  }

  .list-item {
    + .list-item {
      border-top: 1px solid $ct-border;
    }
  }

  .ability-score {
    border-bottom: 0;
  }

  .ability-name {
    font-family: $font-stack-secondary;
    font-weight: normal;
    font-size: $font-xs;
    display: flex;
    align-items: center;
  }

  .ability-mod,
  .ability-lvl {
    font-size: $font-md;
    font-family: $font-stack-base;
    font-weight: bold;
    display: flex;
    line-height: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .ability-mod-label,
  .ability-lvl-label {
    font-size: $font-tiny;
    font-family: $font-stack-label;
    text-transform: uppercase;
  }

  .ability-mod,
  .ability-mod-label,
  .ability-lvl,
  .ability-lvl-label {
    text-align: center;
  }

  .ability-mod {
    position: relative;

    &::after {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 1px;
      background: $ct-border;
    }
  }
}